* {box-sizing: border-box;}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: sans-serif;
}

#logo {
    text-align: center;
    color: rgb(169, 175, 184);
    padding: 25px;
}

nav {
    background-color: rgb(60, 90, 156);
    display: flex;
    justify-content: space-between;
    padding: 5px 50px;
}

nav p {
    margin-top: 21px;
    color: #FFF;
}

nav ul {
    display: flex;
    flex-direction: column;
}

nav ul li {
    margin: 5px 0 5px 50px;
    list-style: none;
}

nav ul li a {
    color: rgba(255, 255, 255, 0.65);
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #FFF;
}

nav ul li a:hover {
    cursor: pointer;
}

#photo {
    background-color: rgb(229, 229, 229);
    display: flex;
}

#photo img {
    border: 1px solid black;
    border-radius: 50%;
    margin: 25px auto;
}

#edito {
    background-color: rgb(60, 90, 156);
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    padding: 21px;
}

#edito h1 {
    color: #FFF;
    font-weight: normal;
    margin: 5px;
}

#edito p {
    color: rgba(255, 255, 255, 0.65);
}

#edito .carousel {
    padding: 25px;
    position: relative;
    overflow: hidden;
    width: 95%;
    height: 300px;
    margin-bottom: 25px;
}

.slides {
    display: flex;
    /* transition: transform 0.5s; */
}

.slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#edito .carousel .slide {
    width: 25%;
    margin: 0 50px;
    background-color: #FFF;
    border-radius: 25px;
    border: 3px solid #FFF;
    overflow: hidden;
    height: 275px;
}

.btn {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    top: calc(50% - 25px);
    left: 0;
    border: 1px solid #FFF;
    background-color: #FFF;
    display: flex;
    z-index: 5;
}

.btn i {
    margin: auto;
}

.btn:hover {
    cursor: pointer;
}

.carousel-right {
    left: auto;
    right: 0;
}

#projects h1 {
    margin: 25px 0;
    text-align: center;
}

#projects-container {
    display: grid;
}

.project {
    width: 75%;
    text-align: center;
    margin: 25px auto;
    overflow: hidden;
}

.project img {
    width: 100%;
}

/* Flipcard */

.hover-container {
    border: 3px double #EEE;
    height: 100%;
    transition: transform 0.6s, background-color 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project:hover .hover-container {
    background-color: rgb(60, 90, 156);
    color: #FFF;
}

.flip-btn {
    margin: 10px;
    padding: 10px;
    border: 3px double #FFF;
    font-weight: bold;
    transform: rotateY(-180deg);
    display: none;
}

.flip-btn {
    cursor: pointer;
}

/* Modal */

.modal {
    position: fixed;
    top: 0;
    height: 100%;
    padding: 10px;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 5;
}
.modal-content {
    width: 90%;
    padding: 25px;
    background-color: #FFF;
    margin: auto;
    position: relative;
}

.modal-content img {
    width: 90%;
    margin-left: 5%;
}

.modal-btn {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    position: absolute;
    top: 24px;
    right: 24px;
}

.modal-btn:hover {
    cursor: pointer;
}

.modal-btn i {
    margin: auto;
}

/* Contact */

#contact h1 {
    margin: 10px 0px 25px;
    text-align: center;
}

#contact form {
    background-color: rgb(242, 242, 242);
    border-radius: 5px;
    width: 90%;
    margin: auto;
    padding: 25px;
    display: grid;
    margin-bottom: 50px;
}

.form-item {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.form-item-2, .form-item-4, .form-item-6 {
    border: 1px solid #AAA;
}

.form-item-6 {
    height: 200px;
}

.form-item-7 {
    background-color: rgb(5, 171, 109);
    color: #FFF;
    border: none;
}

.form-item-7:hover {
    cursor: pointer;
}

footer {
    height: 250px;
    background-color: rgb(60, 90, 156);
    display: flex;
    justify-content: center;
}

footer i {
    margin: auto 0;
    padding: 10px;
    background-color: #FFF;
}

.fa-facebook {
    color: rgb(58, 87, 149);
}

.fa-twitter {
    color: rgb(28, 156, 234);
}

.fa-linkedin {
    color: rgb(1, 117, 175);
}

@media screen and (min-width: 768px) {
    #projects h1, #contact h1 {
        margin-left: 75px;
        text-align: left;
    }

    nav ul {
        flex-direction: row;
    }

    .project-2 {
        grid-area: 1 / 2;
    }
}

@media screen and (min-width: 1200px) {
    #projects h1, #contact h1 {
        margin-left: 150px;
    }

    .project-3 {
        grid-area: 1 / 3;
    }

    .modal {
        padding: 40px
    }
    
    .modal-content {
        width: 50%;
        padding: 40px
    }

    #contact form {
        grid-template-columns: 1fr 4fr 1fr;
    }    
    .form-item-1 {
        grid-area: 1 / 1;
    }
    .form-item-2 {
        grid-area: 1 / 2 / 1 / 4;
    }
    .form-item-3 {
        grid-area: 2 / 1;
    }
    .form-item-4 {
        grid-area: 2 / 2 / 2 / 4;
    }
    .form-item-5 {
        grid-area: 3 / 1;
    }
    .form-item-6 {
        grid-area: 3 / 2 / 3 / 4;
    }
    .form-item-7 {
        grid-area: 4 / 3;
    }
}