* {box-sizing: border-box;}

body {
    margin: 0;
    font-family: sans-serif;
}

#logo {
    text-align: center;
    color: rgb(169, 175, 184);
    padding: 25px;
}

nav {
    background-color: rgb(60, 90, 156);
    display: flex;
    justify-content: space-between;
    padding: 5px 50px;
}

nav p {
    margin-top: 21px;
}

nav ul {
    display: flex;
    flex-direction: column;
}

nav ul li {
    margin: 5px 0 5px 50px;
    list-style: none;
}

nav ul li a {
    color: #000;
    text-decoration: none;
}

nav ul li a:hover {
    cursor: pointer;
}

#photo {
    background-color: rgb(229, 229, 229);
    display: flex;
}

#photo img {
    border: 1px solid black;
    border-radius: 50%;
    margin: 25px auto;
}

#edito {
    min-height: 250px;
    background-color: rgb(60, 90, 156);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 21px;
}

#edito h1 {
    color: rgb(51, 51, 51);
    font-weight: normal;
    margin: 5px;
}

#edito p {
    text-align: center;
    margin: 5px;
}

#projects h1 {
    margin: 25px 0;
    text-align: center;
}

#projects-container {
    display: grid;
}

.project {
    width: 75%;
    text-align: center;
    margin: 25px auto;
    transition: transform 0.3s;
}

.project:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.project img {
    width: 100%;
}

#contact h1 {
    margin: 10px 0px 25px;
    text-align: center;
}

#contact form {
    background-color: rgb(242, 242, 242);
    border-radius: 5px;
    width: 90%;
    margin: auto;
    padding: 25px;
    display: grid;
    margin-bottom: 50px;
}

.form-item {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.form-item-2, .form-item-4, .form-item-6 {
    border: 1px solid #AAA;
}

.form-item-6 {
    height: 200px;
}

.form-item-7 {
    background-color: rgb(5, 171, 109);
    color: #FFF;
    border: none;
}

.form-item-7:hover {
    cursor: pointer;
}

footer {
    height: 250px;
    background-color: rgb(60, 90, 156);
    display: flex;
    justify-content: center;
}

footer i {
    margin: auto 0;
    padding: 10px;
    background-color: #FFF;
}

.fa-facebook {
    color: rgb(58, 87, 149);
}

.fa-twitter {
    color: rgb(28, 156, 234);
}

.fa-linkedin {
    color: rgb(1, 117, 175);
}

@media screen and (min-width: 768px) {
    #projects h1, #contact h1 {
        margin-left: 75px;
        text-align: left;
    }

    nav ul {
        flex-direction: row;
    }

    .project-2 {
        grid-area: 1 / 2;
    }
}

@media screen and (min-width: 1200px) {
    #projects h1, #contact h1 {
        margin-left: 150px;
    }

    .project-3 {
        grid-area: 1 / 3;
    }

    #contact form {
        grid-template-columns: 1fr 4fr 1fr;
    }    
    .form-item-1 {
        grid-area: 1 / 1;
    }
    .form-item-2 {
        grid-area: 1 / 2 / 1 / 4;
    }
    .form-item-3 {
        grid-area: 2 / 1;
    }
    .form-item-4 {
        grid-area: 2 / 2 / 2 / 4;
    }
    .form-item-5 {
        grid-area: 3 / 1;
    }
    .form-item-6 {
        grid-area: 3 / 2 / 3 / 4;
    }
    .form-item-7 {
        grid-area: 4 / 3;
    }
}